---
import Logo from "../components/logo.astro";
---

<section
  class="text-gray-700 bg-white border-t sm:mt-20 dark:bg-neutral-950 border-neutral-200 dark:border-neutral-800"
>
  <div class="container flex flex-col items-center pt-8 mx-auto px-7 max-w-7xl sm:flex-row sm:justify-between">
    <Logo />
    <p class="mt-4 text-neutral-700 dark:text-neutral-100 sm:ml-4 sm:pl-4 sm:border-l sm:border-neutral-300 dark:sm:border-neutral-700 sm:mt-0">© {new Date().getFullYear()} a.d</p>
    <span class="inline-flex justify-center mt-4 space-x-5 sm:ml-auto sm:mt-0 sm:justify-start">
      <a href="https://ad6666.tuchong.com/" target="_blank" class="text-neutral-500 dark:text-neutral-400 hover:text-neutral-900 dark:hover:text-white inline-flex items-center">
        <span class="sr-only">相册</span>
        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <path d="M641.73619101 191.97015954v-0.5151938h-0.55871158l0.55871158 0.5151938zM512.50957863 2.77049483a483.41183239 483.41183239 0 0 0-56.63341721 3.34384653c-45.48726219 5.14351539-89.09203143 16.51147047-130.07731389 33.01171054 0 0 337.9755661 334.46607148 346.97391043 346.89670154V29.35421497c-10.07224967-3.43228576-20.36489563-6.51923728-30.7403656-9.39281149-41.28007998-11.10404111-84.71639348-17.19090866-129.52281373-17.19090865z m129.22661238 189.19966471l-0.55871158-0.5151938h0.55871158v0.5151938zM823.13354715 373.24678907l0.30181657-0.39025576-0.30181657-0.38323687v0.77349263z m42.40452207-225.17338874c-13.55086079-13.54945699-27.74185336-26.07414154-42.40452207-37.68776125-35.84176707-28.47042448-74.68625776-51.35934866-115.28689957-68.59939023 0 0 2.48331842 475.34420608 0 490.52206862l252.27230272-252.22738121a513.47556746 513.47556746 0 0 0-15.17926626-28.29635351c-21.39668706-37.04622559-47.71789698-72.0751937-79.40161482-103.71118242zM823.13354715 373.24678907v-0.77349263l0.3397191 0.38323687-0.3397191 0.39025576z m0.8549129 262.30664986v-0.52080901l-0.5151938 0.52080901h0.5151938zM976.27806752 319.6554018S641.90605052 657.58745026 629.38698121 666.59140972h356.71345996c3.42667059-10.07365347 6.51923728-20.36629941 9.34367857-30.74176942 11.14755882-41.37273066 17.24004154-84.67708715 17.24004157-129.52140992 0-19.17166742-1.2002472-38.07380568-3.39438325-56.63482101-5.14351539-45.49147358-16.46093376-89.09203143-33.01171054-130.03800757zM823.98846005 635.55343893h-0.5151938l0.5151938-0.52080901v0.52080901zM640.14568798 819.39621096h-0.72857108l0.3453343 0.37902545 0.38323678-0.37902545z m-159.91784502-115.24759316L732.49453049 956.37599896a499.94295605 499.94295605 0 0 0 28.34548648-15.1778625c37.04061041-21.30965156 72.0260608-47.67437924 103.75470009-79.40301856 13.50032407-13.50593924 25.98149087-27.74044958 37.6442435-42.39890694 28.42129154-35.85159364 51.36496384-74.64835522 68.59517883-115.29251472 0 0-475.38351243 2.49033743-490.60629643 0.04492156z m159.91784502 115.24759316l-0.38323678 0.37902545-0.3453343-0.37902545h0.72857108z m-258.31003731 0.12634187h0.51659763l-0.51659763-0.51519386v0.51519386z m-31.04218218-194.60709409v356.71345999a513.9570701 513.9570701 0 0 0 30.73615423 9.34929378c41.3348281 11.14755882 84.68270232 17.2288112 129.52702513 17.22881115 19.12113069 0 38.02888415-1.2002472 56.55199693-3.33963509a497.57194147 497.57194147 0 0 0 130.07591007-33.06084349c0.04492156 0-337.89274202-334.37201697-346.89108636-346.89108634z m31.04218218 194.60709409v-0.55871155l0.55450014 0.55871155h-0.55450014z m-181.79182337-183.4202289v-0.76787746l-0.38323683 0.38323681 0.38323683 0.38464065z m115.24338183-159.9613628L63.10334568 728.36834232c4.72097222 9.64689896 9.82658503 19.08322816 15.18347772 28.33987129 21.30965156 37.12904968 47.67437924 72.11450007 79.40161475 103.79821783 13.50734304 13.55086079 27.74185336 26.02500863 42.40031066 37.6456473 35.88388101 28.51394221 74.60343366 51.36496384 115.3360325 68.59377501 0 0-2.57737289-475.38351243-0.13757218-490.60489262z m-115.24338183 159.9613628l-0.38323683-0.38464065 0.38323683-0.38323681v0.76787746z m-0.51519385-260.45363669v0.42113937l0.4772913-0.42113937h-0.4772913z m-171.49356221-0.30181654c-11.10404111 41.32921291-17.19090866 84.67708715-17.19090863 129.52140992 0 19.12253449 1.2002472 38.07380568 3.38315286 56.59691846 5.14913056 45.52937614 16.42303119 89.13554919 33.06084348 130.03239235 0 0 334.33411447-337.93204836 346.85318377-346.89249016H37.38436502c-3.43228576 10.03013573-6.51923728 20.36629941-9.34929378 30.74176943z m171.49356221 0.30181654h0.4772913l-0.4772913 0.42113937v-0.42113937z m181.74830569-182.47828054l-0.34533432 0.39025583h0.77349265l-0.42815833-0.39025583z m-120.99053032-121.46080259c-37.12904968 21.35316928-72.11450007 47.72351217-103.7603153 79.35809707-13.63228106 13.59437851-26.06291112 27.82888883-37.68214608 42.40452206-28.47182827 35.84597846-51.36496384 74.68625776-68.63869655 115.37533885 0 0 475.47054787-2.52823994 490.64981421-0.0828241L288.62066494 56.53595302c-9.59636221 4.79818107-19.07761296 9.81675845-28.33425612 15.17365109z m120.99053032 121.46080259l0.42815833 0.39025583h-0.77349265l0.34533432-0.39025583z m0 0"></path>
        </svg>
      </a>
      <a href="https://blog.aiheadn.cn/" target="_blank" class="text-neutral-500 dark:text-neutral-400 hover:text-neutral-900 dark:hover:text-white">
        <span class="sr-only">博客</span>
        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 1024 1024" aria-hidden="true">
          <path fill-rule="evenodd" d="M630.816594 591.217203 393.202848 591.217203c-21.781072 0-39.603996 17.819854-39.603996 39.600927s17.822924 39.600927 39.603996 39.600927l237.613746 0c21.781072 0 39.60195-17.819854 39.60195-39.600927S652.597667 591.217203 630.816594 591.217203z" clip-rule="evenodd"></path>
          <path fill-rule="evenodd" d="M393.202848 432.80531l118.80585 0c21.781072 0 39.60195-17.820877 39.60195-39.60195 0-21.782096-17.820877-39.602973-39.60195-39.602973l-118.80585 0c-21.781072 0-39.603996 17.820877-39.603996 39.602973C353.598852 414.984433 371.421776 432.80531 393.202848 432.80531z" clip-rule="evenodd"></path>
          <path fill-rule="evenodd" d="M511.999488 0.606821c-282.434557 0-511.393179 228.958622-511.393179 511.393179 0 282.433534 228.958622 511.395226 511.393179 511.395226s511.393179-228.960669 511.393179-511.395226C1023.392668 229.565443 794.434046 0.606821 511.999488 0.606821zM828.82839 624.287389c0 113.0211-91.996251 204.523093-205.813482 204.523093L401.222499 828.810482c-113.737414 0-206.051913-91.501994-206.051913-204.523093L195.170586 399.795499c0.078795-113.025193 92.314499-204.603935 206.051913-204.603935L505.076822 195.191564c113.817232 0 204.942649 84.986603 204.942649 198.011796 1.486864 21.208021 20.555152 39.60195 42.315758 39.60195l35.523051 0c22.750143 0 40.97011 23.860431 40.97011 46.454008L828.82839 624.287389z" clip-rule="evenodd"></path>
        </svg>
      </a>
      <a href="https://github.com/2585570153" target="_blank" class="text-neutral-500 dark:text-neutral-400 hover:text-neutral-900 dark:hover:text-white inline-flex items-center">
        <span class="sr-only">GitHub</span>
        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <path d="M512 12.672c-282.88 0-512 229.248-512 512 0 226.261333 146.688 418.133333 350.08 485.76 25.6 4.821333 34.986667-11.008 34.986667-24.618667 0-12.16-0.426667-44.373333-0.64-87.04-142.421333 30.890667-172.458667-68.693333-172.458667-68.693333C188.672 770.986667 155.008 755.2 155.008 755.2c-46.378667-31.744 3.584-31.104 3.584-31.104 51.413333 3.584 78.421333 52.736 78.421333 52.736 45.653333 78.293333 119.850667 55.68 149.12 42.581333 4.608-33.109333 17.792-55.68 32.426667-68.48-113.706667-12.8-233.216-56.832-233.216-253.013333 0-55.893333 19.84-101.546667 52.693333-137.386667-5.76-12.928-23.04-64.981333 4.48-135.509333 0 0 42.88-13.738667 140.8 52.48 40.96-11.392 84.48-17.024 128-17.28 43.52 0.256 87.04 5.888 128 17.28 97.28-66.218667 140.16-52.48 140.16-52.48 27.52 70.528 10.24 122.581333 5.12 135.509333 32.64 35.84 52.48 81.493333 52.48 137.386667 0 196.693333-119.68 240-233.6 252.586667 17.92 15.36 34.56 46.762667 34.56 94.72 0 68.522667-0.64 123.562667-0.64 140.202666 0 13.44 8.96 29.44 35.2 24.32C877.44 942.592 1024 750.592 1024 524.672c0-282.752-229.248-512-512-512"></path>
        </svg>
      </a>
    </span>
  </div>
  <div class="container flex flex-col justify-between pb-8 mt-4 sm:mt-2 mx-auto px-7 items-center max-w-7xl sm:flex-row sm:justify-between">
    <!-- Left Bottom Section -->
    <div class="flex flex-col md:flex-row items-center sm:items-start md:space-x-4 md:space-y-0">
      <a href="https://beian.miit.gov.cn/" target="_blank" class="flex hover:text-neutral-900 dark:hover:text-white text-neutral-700 dark:text-neutral-100 border-neutral-300 dark:border-neutral-700">
        <img src="https://cos.aiheadn.cn/headImg/icp.svg" width="24">晋ICP备2021006777号
      </a>
      <a href="https://beian.mps.gov.cn/#/query/webSearch?code=14062202000019" target="_blank" class="flex hover:text-neutral-900 dark:hover:text-white text-neutral-700 dark:text-neutral-100 md:ml-4 md:pl-4 md:border-l border-neutral-300 dark:border-neutral-700 mt-1">
        <img src="https://cos.aiheadn.cn/headImg/police.svg" width="24">晋公网安备14062202000019号
      </a>
    </div> <!-- Right Bottom Section -->
    <div class="flex flex-col md:flex-row items-center sm:items-end md:space-x-4 md:space-y-0">
      <a href="https://astro.build/" target="_blank" class="hover:text-neutral-900 dark:hover:text-white text-neutral-700 dark:text-neutral-100 border-neutral-300 dark:border-neutral-700">
        ASTRO
      </a>
      <a href="https://github.com/ccbikai/astro-aria" target="_blank" class="hover:text-neutral-900 dark:hover:text-white text-neutral-700 dark:text-neutral-100 border-neutral-300 dark:border-neutral-700 md:ml-4 md:pl-4 md:border-l mt-1">
        ARIA主题
      </a>
    </div>
  </div>
</section>
